<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cookchat</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      
      <div class="carousel-inner" >
        <div class="item active">
           <img class="first-slide" src="modules/core/img/logo1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              
              <p>Where you can share, learn, and connect with people have the same passion as you.	</p>
              <p><a class="btn btn-lg btn-info" href="/#!/signup" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
       
      </div>
     
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row middle">
        <div class="col-lg-4">
          <img class="img-circle" src="modules/core/img/food.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Food</h2>
          <p>Take pictures of your delicious creations and share with us. Whether it be the newest pasta you've made or the latest dessert you've baked, come show it off!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="modules/core/img/recipe.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Recipe</h2>
          <p>Have an awesome new recipe you created? Do you have a family recipe passed down to you? Post them here and share with others! Get your awesome recipe known.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="modules/core/img/connect.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Connect</h2>
          <p>We're one big family united by one major belief: food is awesome! Discover new friends, give tips, receive tips, and simply connect with others!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Top 20 </h2>
		  <h2><span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Our users upload delicious recipes daily. Here are the top 20 recipes of the week that are to die for. Come check them out and get started on the cooking!</p>
		  <p><a class="btn btn-warning" href="#" role="button">Take a Look &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="modules/core/img/top20.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">The Lighter Side.</h2>
		  <h2><span class="text-muted">Still as tasty as ever.</span></h2>
          <p class="lead">Going healthy doesn't mean losing taste. Browse through our collection of healthier choices for meals with less calories.</p>
		  <p><a class="btn btn-warning" href="#" role="button">Take a Look &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="modules/core/img/healthy.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">In a hurry?</h2>
		  <h2><span class="text-muted">Recipes on the go.</span></h2>
          <p class="lead">Come see what Cookchat has to offer for those in a rush. All of the meals listed here can be made in under 30 minutes. We guarantee it!</p>
			 <p><a class="btn btn-warning" href="#" role="button">Take a Look &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="modules/core/img/quickrecipes.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      
     

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
